.row.mb-4
  .col-md-12
    .card
      .card-header
        = t('account_info')
      .card-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          - if resource.errors.any?
            .form-group
              .card
                .card-header.bg-danger.text-white
                  = resource.errors.count
                  errros prohibited this user from being saved
                .card-body
                  %ul.list-group.list-group-flush
                    - resource.errors.each do |field, error|
                      %li.list-group-item
                        = field
                        = error
          .form-group.row
            = f.label :email, class: 'label col-md-2 col-form-label'
            .col-md-10
              = f.email_field :email, autofocus: true, class: 'form-control'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .form-group.row
            = f.label :password, class: 'label col-md-2 col-form-label'
            .col-md-10
              = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group.row
            = f.label :password_confirmation, class: 'label col-md-2 col-form-label'
            .col-md-10
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .form-group.row
            = f.label :current_password, class: 'label col-md-2 col-form-label'
            .col-md-10
              = f.password_field :current_password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.submit "Update", class: 'btn btn-primary'
            = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'float-right'
