.row.mb-4
  .col-md-6.mb-4
    .card
      .card-header
        %span.oi.oi-lock-locked(aria-hidden="true")
        Datos de Cuenta
      .card-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          - if resource.errors.any?
            .form-group
              .card
                .card-header.bg-danger.text-white
                  = resource.errors.count
                  errros prohibited this user from being saved
                .card-body
                  %ul.list-group.list-group-flush
                    - resource.errors.each do |field, error|
                      %li.list-group-item
                        = field
                        = error
          .form-row
            .form-group.col-md-12
              = f.label :email, class: 'label col-form-label'
              = f.email_field :email, autofocus: true, class: 'form-control'
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
          .form-row
            .form-group.col-md-12
              = f.label :password, class: 'label col-form-label'
              = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-row
            .form-group.col-md-12
              = f.label :password_confirmation, class: 'label col-form-label'
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .form-row
            .form-group.col-md-12
              = f.label :current_password, class: 'label col-form-label'
              = f.password_field :current_password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.submit "Guardar", class: 'btn btn-primary btn-sm'
            = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm float-right'
  .col-md-6
    .card
      .card-header
        %span.oi.oi-person(aria-hidden="true")
        Datos Personales
      .card-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          - if (resource.errors.keys & [:first_name, :last_name, :doc_type, :doc_number, :phone]).any?
            .form-group
              .card
                .card-header.bg-danger.text-white
                  = resource.errors.count
                  errros prohibited this user from being saved
                .card-body
                  %ul.list-group.list-group-flush
                    - resource.errors.each do |field, error|
                      %li.list-group-item
                        = field
          .form-row
            .form-group.col-md-6
              = f.label :first_name, class: 'label col-form-label'
              = f.text_field :first_name, autofocus: true, class: 'form-control'
            .form-group.col-md-6
              = f.label :last_name, class: 'label col-form-label'
              = f.text_field :last_name, autocomplete: "off", class: 'form-control'
          .form-row
            .form-group.col-md-6
              = f.label :doc_type, class: 'label col-form-label'
              = f.select :doc_type, User::DOC_TYPES, { include_blank: true }, class: 'form-control'
            .form-group.col-md-6
              = f.label :doc_number, class: 'label col-form-label'
              = f.number_field :doc_number, class: 'form-control'
          .form-row
            .form-group.col-md-6
              = f.label :phone, class: 'label col-form-label'
              = f.phone_field :phone, autocomplete: "off", class: 'form-control'
          .form-group
            = f.submit "Guardar", class: 'btn btn-primary btn-sm'